html, body{
	height: 100%;    
	background-color: dodgerblue;
}
#wrapper{
	width: 900px;
	height: 100%;
	border: 1px solid black;
	margin: 30px auto;
	padding: 30px;
	background-color: white;
	box-shadow: 1px 1px 20px  black;
	text-align: left;
}

input, select, textarea{
	min-height: 30px;
	min-width: 100px;
	margin-bottom: 10px;
}
input{
	border: none;
	border-bottom: 1px solid darkgray;
}
h3{
	text-align: center;
}