@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
}
html{
	height:100%;
}
body{
	height:100%;
	background-color:#CCC;
}
#wrapper{
	width:1000px;
	height:100%;
	margin:0 auto;
	background-color:#FFF;
}
#wrapper h1{
	text-align:center;
}
#wrapper *{
	margin:6px;
}

#imgBox, #imgRoll{
	height: 300px;
	background-repeat: no-repeat;
}